body{
    font-family: 'Roboto', sans-serif;
    background-image: url(https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg?w=2000);
}
.nav{
    display: inline;
}
.links{
    margin-left: 50%;
}
#int {
    resize: none;
}
table{
    border-collapse: collapse;
}
.list{
    list-style-type: square;
}
h1{
    color: darkgoldenrod;
}
button{
    background-color: forestgreen;
    border-radius: 15px;
    border: none;
    padding: 10px;
    width: 80px;
}
footer{
    font-size: 12px;
}
a:hover{
    color: blueviolet;
}